<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TASIMA - Trabalho de deploy</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="jumbotron" align="center" style="margin-top: 5px;">
			<h1>TASIMA <small>Metódos Ágeis - Deploy</small></h1>
		</div>
		<div align="center">
		
			<p class="lead" th:text="${message}">...</p>
			
			<a href="/" class="btn btn-primary">Voltar</a>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>